In [2]:
import numpy as np
import pandas as pd

In [6]:
df=pd.read_csv('Insurance.csv')

In [9]:
df

   Age  Premium
0   25    18000
1   30    32000
2   35    40000
3   40    47000
4   45    55000

In [11]:
x=df['Age']

In [13]:
y=df['Premium']

In [15]:
x

0    25
1    30
2    35
3    40
4    45
Name: Age, dtype: int64

In [17]:
y

0    18000
1    32000
2    40000
3    47000
4    55000
Name: Premium, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [33]:
len(x_train)

4

In [35]:
len(x_test)

1

In [37]:
y_train

3    47000
1    32000
4    55000
0    18000
Name: Premium, dtype: int64

In [29]:
y_test

2    40000
Name: Premium, dtype: int64